@model ImprovementProjectWebApp.Models.PlanVM.PlanUser
@{
    ViewData["Title"] = "AddPlan";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>AddPlan</h2>
<h5>User name: @Model.User.UserName</h5>
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePlan">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Plan.PlanName" class="control-label"></label>
                <input asp-for="@Model.Plan.PlanName" class="form-control" />
                <span asp-validation-for="@Model.Plan.PlanName" class="text-danger"></span>
            </div>
            <input name="UserId" value="@Model.User.Id" />
            <input name="AppUserPlanId" value="@Model.AppUserPlanId" />
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="@Model.Plan.Active" /> @Html.DisplayNameFor(model => model.Plan.Active)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="@Model.Plan.IfTemplate" /> @Html.DisplayNameFor(model => model.Plan.IfTemplate)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

