@model IEnumerable<ImprovementProjectWebApp.Models.MemberViewModels.MemberViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="border backgroundWhite">
    <div class="row">
        <div class="col-md-8">
            <h2 class="text-info">Member List</h2>
        </div>

        <div class="col-md-4 text-right">

        </div>
    </div>


    <br />
    <div class="row">
        <div class="col-md-8">
            <form method="get">
                <div class="input-group">
                    <div class="input-group-btn search-panel">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span id="search_concept">Filter by</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#name">Name</a></li>
                            <li><a href="#email">Email</a></li>
                            <li><a href="#phone">Phone</a></li>
                        </ul>
                    </div>
                    <input type="hidden" name="search_param" value="all" id="search_param">
                    <input type="text" class="form-control" name="search_text" id="search_text" placeholder="Search term...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </form>
        </div>
        <div class="col-md-4">

        </div>
    </div>
    <br />

    <div>
        @if (Model.Count() > 0)
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerProfile.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerProfile.PhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.ApplicationUser.Email)
                    </th>
                    <th>
                        Latest Plan
                    </th>

                    <th></th>

                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.CustomerProfile.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.CustomerProfile.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.ApplicationUser.Email)
                        </td>

                        <td>
                            @Html.DisplayFor(m => item.UserPlans.FirstOrDefault().PlanPackage.Name)
                        </td>

                        <td>
                            <a asp-action="ViewCustomer" asp-controller="Dashboard" asp-route-id="@item.ApplicationUser.Id" class="btn btn-success anchorDetail">
                                <i class="fa fa-cog"></i> Plan Manager
                            </a>

                        </td>
                    </tr>
                }

            </table>

        }
        else
        {
            <p>No order exists...</p>
        }
    </div>

</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('.search-panel .dropdown-menu').find('a').click(function (e) {
                e.preventDefault();
                var param = $(this).attr("href").replace("#", "");
                var concept = $(this).text();
                $('.search-panel span#search_concept').text(concept);
                $('.input-group #search_param').val(param);
            });
        })
    </script>

}
