@model ImprovementProjectWebApp.Models.PartExerciseViewModels.PartExercise
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="list-group col-lg-12">
    @foreach (var item in Model.BodyParts)
    {

        @*<input  name="name" type="button"  class="list-group-item col-lg-2 partBtn" value="@Html.DisplayFor(modelItem => item.Name)" onclick="partBtnClick(this)" />*@
        @if (item.Id != Model.SelectPartId)
        {

            <a class="list-group-item col-lg-2 partBtn btn" asp-action="EditDetail" asp-route-WorkoutPlanId="@Model.WorkoutPlanId" asp-route-PartId="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
        }
        else
        {

            <a class="list-group-item col-lg-2 partBtn btn active" asp-action="EditDetail" asp-route-WorkoutPlanId="@Model.WorkoutPlanId" asp-route-PartId="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
        }
    }

</div>
<div class="clearfix"></div>
<hr />
<div class="list-group col-lg-12">
    @if (Model.Exercises != null)
    {
        @foreach (var item in Model.Exercises)
        {
            @if (item.Id != Model.SelectExerciseId)
            {

                <a class="list-group-item col-lg-2 partBtn btn" asp-action="EditDetail" asp-route-WorkoutPlanId="@Model.WorkoutPlanId" asp-route-ExId="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
            }
            else
            {
                <a class="list-group-item col-lg-2 partBtn btn active" asp-action="EditDetail" asp-route-WorkoutPlanId="@Model.WorkoutPlanId" asp-route-ExId="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>

            }
        }
    }
</div>
<hr />
<div class="clearfix"></div>