@model IList<ImprovementProjectWebApp.Models.PartExerciseViewModels.PlanSetsReps>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div>
    <h3>Plan Name: @Model.FirstOrDefault().WorkoutPlan.Plan.Name</h3>
    <ul class="list-group">

        @foreach (var item in Model)
        {
        <li class="list-group-item list-group-item-primary col-lg-12 ">


            <ol class="list-group-item col-lg-6">
                Exercise Name: @Html.DisplayFor(modelItem => item.WorkoutPlan.Exercise.Name)
            </ol>
            @if (item.WorkoutPlan.OtherTypeExercise == true)
            {
                <ol class="list-group-item col-lg-12 ">
                    Exercise Description: @Html.DisplayFor(modelItem => item.WorkoutPlan.Des)
                </ol>
                <div class="col-lg-6 btnblock">
                    <a asp-action="EditDetail" class="btn btn-warning btn-block" asp-route-WorkoutPlanId="@item.WorkoutPlan.Id">Edit</a>
                </div>
                <div class="col-lg-6 btnblock">
                    <a asp-action="WorkoutPlanDelete" class="btn btn-danger btn-block deletebtn" asp-route-id="@item.WorkoutPlan.Id">Delete</a>
                </div>

            }
            else
            {
                <div class="list-group-item col-lg-6">
                    Sets: @Html.DisplayFor(modelItem => item.WorkoutPlan.Sets)
                </div>
                <div class="list-group-item col-lg-6">
                    <div class="repOl">
                        Reps:
                        @if (item.Reps.Count != 0)
                        {
                            @foreach (var rep in item.Reps)
                            {

                                @if (rep.num != -1)
                                {
                                    <span class="badge badge-primary">@Html.DisplayFor(modelItem => rep.num)</span>

                                }
                                else
                                {
                                    <span>
                                        力竭
                                    </span>
                                }

                            }
                        }
                        else if (item.Reps.Count != item.WorkoutPlan.Sets)
                        {

                            <a asp-action="RepsView" class="badge badge-danger" asp-route-workoutPlanId="@item.WorkoutPlan.Id">Unfinished</a>
                        }
                        else
                        {
                            <a asp-action="RepsView" class="badge badge-danger" asp-route-workoutPlanId="@item.WorkoutPlan.Id">Unfinished</a>
                        }


                    </div>
                    @*@if (item.Reps.Count != 0)
        {
            @foreach (var rep in item.Reps)
            {
                <div class="repOl1">
                    @if (rep.num != -1)
                    {
                    <span class="badge badge-primary">@Html.DisplayFor(modelItem => rep.num)</span>

                    }
                    else
                    {
                    <span>
                        力竭
                    </span>
                    }
                </div>
            }
        }
        else if (item.Reps.Count != item.WorkoutPlan.Sets)
        {

            <a asp-action="RepsView" class="badge badge-danger" asp-route-workoutPlanId="@item.WorkoutPlan.Id">Unfinished</a>
        }
        else
        {
            <a asp-action="RepsView" class="badge badge-danger" asp-route-workoutPlanId="@item.WorkoutPlan.Id">Unfinished</a>
        }*@
                    <div class="clearfix"></div>
                </div>
                if (!string.IsNullOrEmpty(item.WorkoutPlan.Des))
                {
                <div  class="list-group-item col-lg-6">
                    @item.WorkoutPlan.Des
                </div>
                }
                <div class="clearfix"></div>

                <div class="col-lg-6 btnblock">
                    <a asp-action="EditDetail" class="btn btn-warning btn-block" asp-route-WorkoutPlanId="@item.WorkoutPlan.Id">Edit</a>
                </div>
                <div class="col-lg-6 btnblock">
                    <a asp-action="WorkoutPlanDelete" class="btn btn-danger btn-block deletebtn" asp-route-id="@item.WorkoutPlan.Id">Delete</a>
                </div>

            }
        </li>


        }

    </ul>
</div>
<style>


    .btnblock {
        padding: 0;
    }

    .deletebtn {
        margin: 0;
    }
</style>