@model ImprovementProjectWebApp.Models.WorkoutPlan

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>WorkoutPlan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sets)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sets)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OtherTypeExercise)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OtherTypeExercise)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Des)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Des)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Exercise)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Exercise.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Plan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plan.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
