
<div style="height:10px;"></div>
@*<ul class="nav nav-pills nav-stacked col-lg-3 col-md-3 col-sm-12">

    <li class="@(Url.RouteUrl(ViewContext.RouteData.Values) == "/Customer/WorkoutList" ? " active" : "") col-lg-12  col-md-12 col-sm-3">
        <a class=" LeftSection" asp-controller="Customer" asp-action="WorkoutList">
            健身计划
        </a>
    </li>
    <li class="@(Url.RouteUrl(ViewContext.RouteData.Values) == "/Customer/MealPlanList" ? " active" : "") col-lg-12 col-md-12 col-sm-3">
        <a class=" LeftSection" asp-controller="Customer" asp-action="MealPlanList">
            饮食计划
        </a>
    </li>
    <li class="@(Url.RouteUrl(ViewContext.RouteData.Values) == "/Customer/CheckInView" ? " active" : "") col-lg-12 col-md-12 col-sm-3">
        <a class=" LeftSection" asp-controller="Customer" asp-action="CheckIn">
            打卡
        </a>
    </li>
    <li class="@(Url.RouteUrl(ViewContext.RouteData.Values) == "/Customer/CheckInDetail" ? " active" : "") col-lg-12 col-md-12 col-sm-3">
        <a class=" LeftSection" asp-controller="Customer" asp-action="CheckInDetail">
            打卡信息
        </a>
    </li>
    <li class="@(Url.RouteUrl(ViewContext.RouteData.Values) == "/Customer/AskProblem" ? " active" : "") col-lg-12 col-md-12 col-sm-3">
        <a class=" LeftSection" asp-controller="Customer" asp-action="AskProblem">
            提问
        </a>
    </li>
    <li class="@(Url.RouteUrl(ViewContext.RouteData.Values) == "/Customer/ViewCustomer" ? " active" : "") col-lg-12 col-md-12 col-sm-3">
        <a class=" LeftSection" asp-controller="Customer" asp-action="ViewCustomer">
            用户信息
        </a>
    </li>
    <li class="@(Url.RouteUrl(ViewContext.RouteData.Values) == "/Customer/ViewGallery" ? " active" : "") col-lg-12 col-md-12 col-sm-3">
        <a asp-controller="Customer" asp-action="ViewGallery">图片墙</a>
    </li>
    <li class="@(Url.RouteUrl(ViewContext.RouteData.Values) == "/Manage/Index" ? " active" : "") col-lg-12 col-md-12 col-sm-3">
        <a asp-controller="Manage" asp-action="Index">账户管理</a>
    </li>

</ul>*@
<div class="list-group col-lg-3 col-md-3 col-sm-12 col-xs-12">
    <a class=" @(Url.RouteUrl(ViewContext.RouteData.Values) == "/Customer/WorkoutList" ? " active" : "")
       col-lg-12  col-md-12 col-sm-3 col-xs-3 list-group-item" asp-controller="Customer" asp-action="WorkoutList">
        健身计划
    </a>
    <a class=" @(Url.RouteUrl(ViewContext.RouteData.Values) == "/Customer/MealPlanList" ? " active" : "")
       col-lg-12  col-md-12 col-sm-3 col-xs-3  list-group-item" asp-controller="Customer" asp-action="MealPlanList">
        饮食计划
    </a>
    <a class=" @(Url.RouteUrl(ViewContext.RouteData.Values) == "/Customer/CheckInView" ? " active" : "")
       col-lg-12  col-md-12 col-sm-3 col-xs-3 list-group-item" asp-controller="Customer" asp-action="CheckInList">
        用户打卡
    </a>
    <a class=" @(Url.RouteUrl(ViewContext.RouteData.Values) == "/Customer/CheckInDetail" ? " active" : "")
       col-lg-12  col-md-12 col-sm-3 col-xs-3 list-group-item" asp-controller="Customer" asp-action="CheckInDetail">
        打卡信息
    </a>
    <a class=" @(Url.RouteUrl(ViewContext.RouteData.Values) == "/Customer/FeedbacksList" ? " active" : "")
       col-lg-12  col-md-12 col-sm-3 col-xs-3 list-group-item" asp-controller="Customer" asp-action="FeedbacksList">
        用户提问
    </a>
    <a class=" @(Url.RouteUrl(ViewContext.RouteData.Values) == "/Customer/ViewCustomer" ? " active" : "")
       col-lg-12  col-md-12 col-sm-3 col-xs-3 list-group-item" asp-controller="Customer" asp-action="ViewCustomer">
        用户信息
    </a>
    <a class=" @(Url.RouteUrl(ViewContext.RouteData.Values) == "/Customer/ViewGallery" ? " active" : "")
       col-lg-12  col-md-12 col-sm-3 col-xs-3 list-group-item" asp-controller="Customer" asp-action="ViewGallery">
        照片图墙
    </a>
    <a class=" @(Url.RouteUrl(ViewContext.RouteData.Values) == "/Manage/Index" ? " active" : "")
       col-lg-12  col-md-12 col-sm-3 col-xs-3 list-group-item" asp-controller="Manage" asp-action="Index">
        账户管理
    </a>

</div>