@model ImprovementProjectWebApp.Models.Customer.CheckInDetailVM
@{
    ViewData["Title"] = "CheckInDetail";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>打卡信息</h2>

<ul class="nav nav-pills nav-justified">
    @foreach (var item in Model.ifCheckInVMs)
    {
        @if (item.IfCheckIn == true)
        {
            <li>
                <a class="@(Url.RouteUrl(ViewContext.RouteData.Values) == "Customer/CheckInDetail?CheckinQAId="+item.CheckInQA.Id ? " active" : "")" asp-controller="Customer" asp-action="CheckInDetail" asp-route-CheckinQAId="@item.CheckInQA.Id">
                    @item.CheckInQA.CreatedDate.ToString("yyyy MMMM dd") - @item.CheckInQA.EndDate.ToString("yyyy MMMM dd")

                </a>
            </li>
        }

    }
</ul>
@if (Model.CheckInQADetails != null)
{
    <div class="list-group-item col-lg-12">
        @foreach (var i in Model.CheckInQADetails)
        {
            <div class="list-group-item">
                <p>问题： @i.CheckInQuestion.Question</p>
                <p>答案： @i.Answer</p>
            </div>

        }
    </div>
}
@if (Model.IMGUrl != null)
{
    <div class="list-group-item col-lg-12">
        @foreach (var i in Model.IMGUrl)
        {
            @if (i != null)
            {
                <div class="list-group-item col-lg-3">
                    <img src="@i" alt="Alternate Text" width="100%" />
                </div>
            }
        }
    </div>
}
    <div class="clearfix"></div>
    <br />
<div class="col-lg-12">

    <a class="btn btn-default col-lg-2 col-lg-offset-10" asp-action="Index" asp-controller="Customer">返回</a>
</div>
