@model ImprovementProjectWebApp.Models.Customer.CheckInListVM
@{
    ViewData["Title"] = "EditQAD";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}


<h2>打卡列表</h2>

<form asp-controller="Customer" asp-action="EditQAD">
    <div class="row">
        @{ var count = 0;
            foreach (var item in Model.CheckInQuestions)
            {


                if (item.Id == 2)//空腹体重?
                {
                    <div class="col-lg-12">
                        <label>@item.Question (KG)</label>
                        @*<input name="CheckInQuestionIds" value="@item.Id" />*@
                    </div>
                    <div class="col-lg-12">
                        <input asp-for="CheckInQADetails[count].Id" style="display:none;" />
                        <input asp-for="CheckInQADetails[count].CheckInQAId" style="display:none;" />
                        <input asp-for="CheckInQADetails[count].CheckInQuestionId" style="display:none;" />
                        <input asp-for="CheckInQADetails[count].Answer" type="number" id="QID2" class="form-control " />

                    </div>

                }
                else if (item.Id == 3)//过去的七天训练了几次?
                {
                    <div class="col-lg-12">
                        <label>@item.Question</label>
                        @*<input name="CheckInQuestionIds" value="@item.Id" />*@
                    </div>
                    <div class="col-lg-12">
                        <input asp-for="CheckInQADetails[count].Id" style="display:none;" />
                        <input asp-for="CheckInQADetails[count].CheckInQAId" style="display:none;" />
                        <input asp-for="CheckInQADetails[count].CheckInQuestionId" style="display:none;" />
                        <input asp-for="CheckInQADetails[count].Answer" type="number" id="QID3" class="form-control " />

                    </div>

                }
                else if (item.Id == 6)//每晚睡多少小时?
                {
                    <div class="col-lg-12">
                        <label>@item.Question</label>
                        @*<input name="CheckInQuestionIds" value="@item.Id" />*@
                    </div>
                    <div class="col-lg-12">
                        <input asp-for="CheckInQADetails[count].Id" style="display:none;" />
                        <input asp-for="CheckInQADetails[count].CheckInQAId" style="display:none;" />
                        <input asp-for="CheckInQADetails[count].CheckInQuestionId" style="display:none;" />
                        <input asp-for="CheckInQADetails[count].Answer" type="number" id="QID6" class="form-control " />

                    </div>
                }
                else if (item.Id == 7)//从1至10，白天训练之外的精神状态如何？
                {
                    <div class="col-lg-12">
                        <label>@item.Question</label>
                        @*<input name="CheckInQuestionIds" value="@item.Id" />*@
                    </div>
                    <div class="col-lg-12">
                        <input asp-for="CheckInQADetails[count].Id" style="display:none;" />
                        <input asp-for="CheckInQADetails[count].CheckInQAId" style="display:none;" />
                        <input asp-for="CheckInQADetails[count].CheckInQuestionId" style="display:none;" />
                        <input asp-for="CheckInQADetails[count].Answer" type="number" id="QID7" class="form-control " style="display:none;" />
                        <div class="btn-group" role="group">
                            @for (int i = 1; i <= 10; i++)
                            {
                                if (int.Parse(Model.CheckInQADetails.Where(c => c.CheckInQuestionId == item.Id).FirstOrDefault().Answer) == i)
                                {
                                    <button type="button" class="btn btn-primary QID7BTN" onclick="OnClickQID7(@i,this)">@i</button>

                                }
                                else
                                {
                                    <button type="button" class="btn btn-default QID7BTN" onclick="OnClickQID7(@i,this)">@i</button>
                                }
                            }
                            @*<button type="button" class="btn btn-default QID7BTN" onclick="OnClickQID7(1,this)">1</button>
            <button type="button" class="btn btn-default QID7BTN" onclick="OnClickQID7(2 ,this)">2</button>

            <button type="button" class="btn btn-default QID7BTN" onclick="OnClickQID7(3 ,this)">3</button>
            <button type="button" class="btn btn-default QID7BTN" onclick="OnClickQID7(4 ,this)">4</button>
            <button type="button" class="btn btn-default QID7BTN" onclick="OnClickQID7(5 ,this)">5</button>
            <button type="button" class="btn btn-default QID7BTN" onclick="OnClickQID7(6 ,this)">6</button>
            <button type="button" class="btn btn-default QID7BTN" onclick="OnClickQID7(7 ,this)">7</button>
            <button type="button" class="btn btn-default QID7BTN" onclick="OnClickQID7(8 ,this)">8</button>
            <button type="button" class="btn btn-default QID7BTN" onclick="OnClickQID7(9 ,this)">9</button>
            <button type="button" class="btn btn-default QID7BTN" onclick="OnClickQID7(10 ,this)">10</button>*@
                        </div>
                    </div>
                }
                else if (item.Id == 8)//从1至10，训练时的精神状态如何?
                {
                    <div class="col-lg-12">
                        <label>@item.Question</label>
                        @*<input name="CheckInQuestionIds" value="@item.Id" />*@
                    </div>
                    <div class="col-lg-12">
                        <input asp-for="CheckInQADetails[count].Id" style="display:none;" />
                        <input asp-for="CheckInQADetails[count].CheckInQAId" style="display:none;" />
                        <input asp-for="CheckInQADetails[count].CheckInQuestionId" style="display:none;" />
                        <input asp-for="CheckInQADetails[count].Answer" type="number" id="QID8" class="form-control " style="display:none;" />
                        <div class="btn-group" role="group">

                            @for (int i = 1; i <= 10; i++)
                            {
                                if (int.Parse(Model.CheckInQADetails.Where(c => c.CheckInQuestionId == item.Id).FirstOrDefault().Answer) == i)
                                {

                                    <button type="button" class="btn btn-primary QID8BTN" onclick="OnClickQID8(@i,this)">@i</button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-default QID8BTN" onclick="OnClickQID8(@i,this)">@i</button>
                                }
                            }
                            @*<button type="button" class="btn btn-default QID8BTN" onclick="OnClickQID8(1,this)">1</button>
            <button type="button" class="btn btn-default QID8BTN" onclick="OnClickQID8(2 ,this)">2</button>

            <button type="button" class="btn btn-default QID8BTN" onclick="OnClickQID8(3 ,this)">3</button>
            <button type="button" class="btn btn-default QID8BTN" onclick="OnClickQID8(4 ,this)">4</button>
            <button type="button" class="btn btn-default QID8BTN" onclick="OnClickQID8(5 ,this)">5</button>
            <button type="button" class="btn btn-default QID8BTN" onclick="OnClickQID8(6 ,this)">6</button>
            <button type="button" class="btn btn-default QID8BTN" onclick="OnClickQID8(7 ,this)">7</button>
            <button type="button" class="btn btn-default QID8BTN" onclick="OnClickQID8(8 ,this)">8</button>
            <button type="button" class="btn btn-default QID8BTN" onclick="OnClickQID8(9 ,this)">9</button>
            <button type="button" class="btn btn-default QID8BTN" onclick="OnClickQID8(10 ,this)">10</button>*@
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-lg-12">
                        <label>@item.Question</label>
                        @*<input name="CheckInQuestionIds" value="@item.Id" />*@
                    </div>
                    <div class="col-lg-12">
                        <input asp-for="CheckInQADetails[count].Id" style="display:none;" />
                        <input asp-for="CheckInQADetails[count].CheckInQAId" style="display:none;" />
                        <input asp-for="CheckInQADetails[count].CheckInQuestionId" style="display:none;" />
                        <textarea asp-for="CheckInQADetails[count].Answer" class="form-control ">

                        </textarea>
                    </div>
                }
                count++;
            }

        }
        <div class="col-lg-12">
            <br />
            <input type="submit" value="提交" class="btn btn-primary btn-block" />
        </div>
    </div>
</form>

<script>

    function OnClickQID7(a, b) {
        $(".QID7BTN").removeClass("btn-primary").addClass("btn-default");
        var btnValue = $(a).text();
        var repsInputValue = $("#QID7");
        switch (a) {
            case 1:
                $("#QID7").val(1);
                $(b).removeClass("btn-default").addClass("btn-primary");
                break;
            case 2:
                $("#QID7").val(2);
                $(b).removeClass("btn-default").addClass("btn-primary");
                break;
            case 3:
                $("#QID7").val(3);
                $(b).removeClass("btn-default").addClass("btn-primary");
                break;
            case 4:
                $("#QID7").val(4);
                $(b).removeClass("btn-default").addClass("btn-primary");
                break;
            case 5:
                $("#QID7").val(5);
                $(b).removeClass("btn-default").addClass("btn-primary");
                break;
            case 6:
                $("#QID7").val(6);
                $(b).removeClass("btn-default").addClass("btn-primary");
                break;
            case 7:
                $("#QID7").val(7);
                $(b).removeClass("btn-default").addClass("btn-primary");
                break;
            case 8:
                $("#QID7").val(8);
                $(b).removeClass("btn-default").addClass("btn-primary");
                break;
            case 9:
                $("#QID7").val(9);
                $(b).removeClass("btn-default").addClass("btn-primary");
                break;
            case 10:
                $("#QID7").val(10);
                $(b).removeClass("btn-default").addClass("btn-primary");
                break;
            default:
                alert("Some Mistake Here");
                break;

        }

    }

    function OnClickQID8(a, b) {
        $(".QID8BTN").removeClass("btn-primary").addClass("btn-default");
        var btnValue = $(a).text();
        var repsInputValue = $("#QID8");
        switch (a) {
            case 1:
                $("#QID8").val(1);
                $(b).removeClass("btn-default").addClass("btn-primary");
                break;
            case 2:
                $("#QID8").val(2);
                $(b).removeClass("btn-default").addClass("btn-primary");
                break;
            case 3:
                $("#QID8").val(3);
                $(b).removeClass("btn-default").addClass("btn-primary");
                break;
            case 4:
                $("#QID8").val(4);
                $(b).removeClass("btn-default").addClass("btn-primary");
                break;
            case 5:
                $("#QID8").val(5);
                $(b).removeClass("btn-default").addClass("btn-primary");
                break;
            case 6:
                $("#QID8").val(6);
                $(b).removeClass("btn-default").addClass("btn-primary");
                break;
            case 7:
                $("#QID8").val(7);
                $(b).removeClass("btn-default").addClass("btn-primary");
                break;
            case 8:
                $("#QID8").val(8);
                $(b).removeClass("btn-default").addClass("btn-primary");
                break;
            case 9:
                $("#QID8").val(9);
                $(b).removeClass("btn-default").addClass("btn-primary");
                break;
            case 10:
                $("#QID8").val(10);
                $(b).removeClass("btn-default").addClass("btn-primary");
                break;
            default:
                alert("Some Mistake Here");
                break;

        }

    }
</script>



