@model IEnumerable<ImprovementProjectWebApp.Models.AppUserPlan>

@{
    ViewData["Title"] = "ViewMealPlan";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>ViewMealPlan</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Plan.PlanName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MealPlan)
            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Plan.PlanName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    <a href="@Html.DisplayFor(modelItem => item.MealPlan.URL)">View Meal Plan</a>

                </td>

            </tr>
        }
    </tbody>
</table>
<div class="clearfix"></div>
<br />
<div class="col-lg-12">

    <a class="btn btn-default col-lg-2 col-lg-offset-10" asp-action="Index" asp-controller="Customer">返回</a>
</div>