@model ImprovementProjectWebApp.Models.DashboardVM.TemPlansUserVM
@{
    ViewData["Title"] = "ConnectToTem";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>ConnectToTem</h2>
<div class="list-group col-lg-12">
    @foreach (var item in Model.plans)
    {
    <a class="list-group-item col-lg-3" asp-controller="Dashboard" asp-action="TemConnect" asp-route-UserId="@Model.UserId" asp-route-PlanId="@item.Id"  asp-route-AppUserPlanId="@Model.AppUserPlanId" >
        @item.PlanName
        </a>
    }
</div>
<div class="col-lg-12 row"  >
    <p>You can just input the Plan Id to connect the plan.</p>
    <form action="TemConnect" method="post" >
        <input type="number" name="PlanId" value="" class="form-control col-lg-9" />
        <input name="UserId" value="@Model.UserId" class="form-control"  type="hidden"/>
        <input type="number" name="AppUserPlanId" value="@Model.AppUserPlanId" class="form-control" style="display:none;" />
        <input type="submit" name="PlanId" value="Submit" class="btn btn-default col-lg-2"/>
    </form>
</div>

