@model IEnumerable<ImprovementProjectWebApp.Models.CheckInQA>
@{
    ViewData["Title"] = "ViewUserCheckInQA";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>View User Check In Q&A</h2>

<div class="list-group col-lg-12">
    @foreach (var item in Model)
    {
        if (item.IntroCheckInQA == true)
        {
            <a class="list-group-item col-lg-4" asp-route-CheckInQAId="@item.Id" asp-action="CheckInDetail" asp-controller="Dashboard">@item.CreatedDate.ToString("yyyy MMMM dd")</a>
        }
        else
        {
            <a class="list-group-item col-lg-4" asp-route-CheckInQAId="@item.Id" asp-action="CheckInDetail" asp-controller="Dashboard">@item.CreatedDate.ToString("yyyy MMMM dd")</a>
        }
    }

</div>
<div class="col-lg-12">

    <a class="btn btn-default col-lg-2 col-lg-offset-10" asp-action="ViewCustomer" asp-controller="Dashboard" asp-route-id="@ViewBag.UserId">返回</a>
</div>
<div class="clearfix"></div>