@model IList<ImprovementProjectWebApp.Models.PartExerciseViewModels.PlanSetsReps>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div>
    <h3>Plan Name: @Model.FirstOrDefault().WorkoutPlan.PlanName</h3>
    <h4>  User Name: @Model.FirstOrDefault().WorkoutPlan.ApplicationUser.UserName</h4>
    <ul class="list-group">

        @foreach (var item in Model)
        {
        <li class="list-group-item list-group-item-primary col-lg-12 ">

            <ol class="list-group-item col-lg-6">
                Created Date: @Html.DisplayFor(modelItem => item.WorkoutPlan.CreatedDate)
            </ol>
            <ol class="list-group-item col-lg-6">
                Exercise Name: @Html.DisplayFor(modelItem => item.WorkoutPlan.Exercise.Name)
            </ol>
            @if (item.WorkoutPlan.OtherTypeExercise == true)
            {
                <ol class="list-group-item col-lg-12 ">
                    Exercise Description: @Html.DisplayFor(modelItem => item.WorkoutPlan.Des)
                </ol>
                <div class="col-lg-6 btnblock">
                    <a asp-action="WorkoutEditView" class="btn btn-warning btn-block" asp-route-id="@item.WorkoutPlan.Id">Edit</a>
                </div>
                <div class="col-lg-6 btnblock">
                    <a asp-action="WorkoutPlanDelete" class="btn btn-danger btn-block deletebtn" asp-route-id="@item.WorkoutPlan.Id">Delete</a>
                </div>

            }
            else
            {
                <ol class="list-group-item col-lg-6">
                    Sets: @Html.DisplayFor(modelItem => item.WorkoutPlan.Sets)
                </ol>
                <ol class="list-group-item col-lg-6">
                    <div class="repOl">
                        Reps:
                    </div>
                    @if (item.Reps.Count != 0)
                    {
                        @foreach (var rep in item.Reps)
                        {
                            <div class="repOl1">
                                @Html.DisplayFor(modelItem => rep.num)
                            </div>
                        }
                    }
                    else if (item.Reps.Count != item.WorkoutPlan.Sets)
                    {

                        <a asp-action="anotherRepsView" class="badge badge-danger" asp-route-id="@item.WorkoutPlan.Id">Unfinished</a>
                    }
                    else
                    {
                        <a asp-action="anotherRepsView" class="badge badge-danger" asp-route-id="@item.WorkoutPlan">Unfinished</a>
                    }
                    <div class="clearfix"></div>
                </ol>
                <div class="clearfix"></div>

                <div class="col-lg-6 btnblock">
                    <a asp-action="WorkoutEditView" class="btn btn-warning btn-block" asp-route-id="@item.WorkoutPlan.Id">Edit</a>
                </div>
                <div class="col-lg-6 btnblock">
                    <a asp-action="WorkoutPlanDelete" class="btn btn-danger btn-block deletebtn" asp-route-id="@item.WorkoutPlan.Id">Delete</a>
                </div>

            }
        </li>
                
                       
        }

    </ul>
</div>
<style>
    .repOl {
        width:40px;
        float:left;
    }
    .repOl1
    {
        width:20px;
        float:left;
    }
    .btnblock
    {
        padding:0;
    }
    .deletebtn
    {
        margin:0;
    }
</style>