@model ImprovementProjectWebApp.Models.PartExerciseViewModels.WorkoutExercise
@{
    ViewData["Title"] = "AddWorkoutPlanView";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@*<style>
    ul {
        list-style: none;
        padding-left: 0px;
    }

    li {
        float: left;
        padding: 5px;
        margin: 5px;
    }

    ul li button {
        font-size: 16px;
        width: 100px;
        /*height: 60px;*/
    }
</style>*@


<h4>Create WorkoutPlan</h4>
<hr />
<div class="col-lg-6">
    <div class="row">
        <div class="">
            @if(Model.PartExercise.Err != null)
            {
               <div class="alert alert-danger" role="alert">
                @Model.PartExercise.Err
            </div>
            }
            <form asp-action="AddWorkoutPlan">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="workoutplanDetailDiv">
                    <div id="partExercisesChange">
                        @Html.Partial("_ExerciseSelectorPV.cshtml", Model.PartExercise)
                    </div>
                    <div>
                        @*hidden="hidden"*@
                        <div class="form-group">
                            <label asp-for="@Model.WorkoutPlan.UserId" class="control-label"></label>
                            
                            <input asp-for="@Model.WorkoutPlan.UserId" class="form-control" value="@Model.PartExercise.UserId" />
                        </div>
                        <div class="form-group">

                            <label asp-for="@Model.WorkoutPlan.PlanTrackId" class="control-label"></label>
                            <input asp-for="@Model.WorkoutPlan.PlanTrackId" class="form-control" value="@Model.PartExercise.PlanTrackNumber" />

                        </div>
                        <div class="form-group planName">
                            <label asp-for="@Model.WorkoutPlan.PlanName" class="control-label"></label>
                            
                            <input asp-for="@Model.WorkoutPlan.PlanName" class="form-control" id="PlanName" value="@Model.PartExercise.PlanName" />
                            <span asp-validation-for="@Model.WorkoutPlan.PlanName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.WorkoutPlan.ExerciseId" class="control-label"></label>
                           
                            <input asp-for="@Model.WorkoutPlan.ExerciseId" class="form-control" id="ExID" value="@Model.PartExercise.SelectExerciseId" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="@Model.WorkoutPlan.OtherTypeExercise" id="otherTypeExercise" onclick='otherTypeExerciseChecked()' /> @Html.DisplayNameFor(model => model.WorkoutPlan.OtherTypeExercise)
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="@Model.WorkoutPlan.Des" class="control-label"></label>
                        <input asp-for="@Model.WorkoutPlan.Des" class="form-control" id="DesInput" />
                        <span asp-validation-for="@Model.WorkoutPlan.Des" class="text-danger"></span>
                    </div>
                    <div id="SetsRepsDiv">
                        <div class="form-group">
                            <label asp-for="@Model.WorkoutPlan.Sets" class="control-label"></label>
                            <input asp-for="@Model.WorkoutPlan.Sets" class="form-control" id="SetsInput" value="0" onchange="setsChange(this)" />
                            <span asp-validation-for="@Model.WorkoutPlan.Sets" class="text-danger"></span>
                            <br />
                            <button type="button" class="btn btn-primary" onclick="setNumber(0)">3</button>
                            <button type="button" class="btn btn-primary" onclick="setNumber(1)">6</button>
                            <button type="button" class="btn btn-primary" onclick="setNumber(2)">+1</button>
                            <button type="button" class="btn btn-primary" onclick="setNumber(3)">+5</button>
                            <button type="button" class="btn btn-danger" onclick="setNumber(4)">0</button>

                        </div>
                        @*<div class="form-group">
                                <label asp-for="@Model.WorkoutPlan.Reps" class="control-label"></label>
                                <input asp-for="@Model.WorkoutPlan.Reps" class="form-control" id="RepsInput" value="0" />
                                <span asp-validation-for="@Model.WorkoutPlan.Reps" class="text-danger"></span>
                                <br />
                                <button type="button" class="btn btn-primary" onclick="setNumber(5)">5</button>
                                <button type="button" class="btn btn-primary" onclick="setNumber(6)">10</button>
                                <button type="button" class="btn btn-primary" onclick="setNumber(7)">+1</button>
                                <button type="button" class="btn btn-primary" onclick="setNumber(8)">+5</button>
                                <button type="button" class="btn btn-danger" onclick="setNumber(9)">0</button>
                            </div>*@
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input asp-for="@Model.ProgressiveOverload" id="progressiveOverload" /> @Html.DisplayNameFor(model => model.ProgressiveOverload)
                                </label>
                            </div>
                        </div>


                    </div>





                </div>

                <div class="form-group">

                    <div class=" btnDiv">
                        <a asp-action="ViewPlan" class="btn btn-primary col-lg-3 createBTN" asp-route-id="@Model.PartExercise.UserId">Back</a>

                        @*<button type="button" class="btn btn-primary col-lg-3" style="display:none" id="PreBTN" onclick="preBTNClick()">上一步</button>*@
                        <div class="col-lg-3 btnPreDiv"></div>
                        @*<button type="button" class="btn btn-primary col-lg-offset-6 col-lg-3" id="NextBTN" onclick="nextBTNClick()">下一步</button>*@
                        @if(Model.CreateBTNShow)
                        {
                        <input type="submit" value="Create" class="btn btn-primary col-lg-offset-6 col-lg-3 createBTN" id="CreateBTn"  name="AddWorkoutPlan" />
                        }

                    </div>
                </div>

            </form>
        </div>
    </div>

</div>

<div class="col-lg-6">
    @if (Model.ListPlanSetsReps != null)
    {
        @Html.Partial("_ListWorkoutPlanPV.cshtml", Model.ListPlanSetsReps)
    }
</div>
<div class="clearfix"></div>
<script>
    window.onload = otherTypeExerciseChecked;
    function otherTypeExerciseChecked() {
        if ($("#otherTypeExercise").prop('checked')) {
            $("#SetsInput").val(0);
            $("#SetsInput").prop('disabled', true);
            $("#RepsInput").val(0);
            $("#RepsInput").prop('disabled', true); // checked
            $("#SetsRepsDiv").hide()
        }
        else {
            $("#SetsInput").prop('disabled', false);
            $("#RepsInput").prop('disabled', false);
            $("#SetsRepsDiv").show()
        }
    }

    //function preBTNClick() {
    //    location.reload();
    //}   

    function setNumber(a) {
        var b = parseInt($('#SetsInput').val());
        switch (a) {
            case 0:
                $('#SetsInput').val(3);
                setsChange(3);
                break;
            case 1:
                $('#SetsInput').val(6);
                setsChange(6);
                break;
            case 2:
                $('#SetsInput').val(b + 1);
                setsChange(b + 1);
                break;
            case 3:
                $('#SetsInput').val(b + 5);
                setsChange(b + 5);
                break;
            case 4:
                $('#SetsInput').val(0);
                setsChange(0);
                break;            
            default:
                alert("Some Mistake Here");
                break;

        }

    }
</script>



