@model ImprovementProjectWebApp.Models.PartExerciseViewModels.UserPlanVM
@{
    ViewData["Title"] = "SelectOrAddPlan";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<p>User Name: @Model.ApplicationUser.UserName</p>
<p>Current Plan Number: @Model.count</p>
<div class="list-group">
    @foreach (var item in Model.PlanName)
    {
    <div class="list-group-item col-lg-3">
        <p class="col-lg-6">Plan name: @item</p>
        <a asp-action="AddWorkoutPlanView" class="col-lg-6 btn btn-default btn-block" asp-controller="WorkoutPlans" asp-route-PlanName="@item" asp-route-UserId="@Model.ApplicationUser.Id">View</a>
    </div>
    }
</div>
<div class="clearfix"></div>
<form asp-controller="WorkoutPlans" asp-action="AddWorkoutPlanView">
    Add Plan:
    <div class="row">
        <div class="col-lg-10">
            <input type="text" name="PlanName" class="form-control">
            <input type="hidden" value="@Model.ApplicationUser.Id" name="UserId" class="btn btn-default"  />
        </div>
        <div class="col-lg-2">
            <input type="submit" value="Add Plan" class="btn btn-default" />
        </div>
    </div>

</form>
