@model ImprovementProjectWebApp.Models.Reps

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reps</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.num)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.num)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkoutPlan.Plan.PlanName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkoutPlan.Plan.PlanName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
