@model IEnumerable<CustomerProfile>
@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="border backgroundWhite">
    <div class="row">
        <div class="col-md-8">
            <h2 class="text-info">Select a user to add a plan</h2>
        </div>
        <div class="col-md-4 text-right">
            <a asp-action="OrderHistory" class="btn btn-success form-control">Back to User Order List</a>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-8">
            <form method="get">
                <div class="input-group">
                    <div class="input-group-btn search-panel">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span id="search_concept">Filter by</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#name">Name</a></li>
                            <li><a href="#email">Email</a></li>
                            <li><a href="#phone">Phone</a></li>
                        </ul>
                    </div>
                    <input type="hidden" name="search_param" value="all" id="search_param">
                    <input type="text" class="form-control" name="search_text" id="search_text" placeholder="Search term...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </form>
        </div>
        <div class="col-md-4">

        </div>
    </div>
    <br />

    <div>
        @if (Model.Count() > 0)
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(m => m.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.PhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.ApplicationUser.Email)
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.ApplicationUser.Email)
                        </td>

                        <td style="width:150px;">
                            <div class="btn-group" role="group">
                                <a class="btn btn-primary text-white" asp-action="AddOrder" asp-route-userId="@item.ApplicationUserId"><i class="fa fa-plus"></i></a>
                                <a class="btn btn-success text-white" asp-action="Details" asp-route-userId="@item.ApplicationUserId"><i class="fa fa-list-alt"></i></a>

                            </div>
                        </td>

                    </tr>
                }
            </table>
        }
        else
        {
            <p>No user exists...</p>
        }
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('.search-panel .dropdown-menu').find('a').click(function (e) {
                e.preventDefault();
                var param = $(this).attr("href").replace("#", "");
                var concept = $(this).text();
                $('.search-panel span#search_concept').text(concept);
                $('.input-group #search_param').val(param);
            });
        })
    </script>
    
}

